.vscode
__pycache__
Master_Thesis_Journal.aux
Master_Thesis_Journal.fdb_latexmk
Master_Thesis_Journal.fls
Master_Thesis_Journal.log
Master_Thesis_Journal.out
Master_Thesis_Journal.synctex.gz
Master_Thesis_Journal.toc
.gitattributes
*.fits
*.fits.gz